div.roadMap{
    -webkit-text-size-adjust: 100%;
    font-size: 22px;
    font-family: verdana;
    line-height: 30px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 10px;
    padding:5px 10px 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    border-color: transparent;
    border-radius: 20px;
    background-color: #daa250;
    opacity: 1;
    transform-style: preserve-3d;
    text-align: justify;
    text-align: left;
   
    
}