.header-wrapper {
    font-family: Verdana;
    height: 50px;
    background-color:#313639;
    text-align: center;
    position:fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    
    
}
img{
    width: 100px;
}
.logo {
    width:50px;
    
}

.social-icons {
    color: white;
    font-size: 14px;
    margin: 0 20px;
}

.menu-option {
    font-family: Verdana;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 0 20px;
}
.menu-option:hover {
    color: green;
    transform: scale(1.05);
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 916px;
}