.header-wrapper {
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.logo {
    color: white;
}

.social-icons {
    color: white;
    font-size: 14px;
    margin: 0 20px;
}

.menu-option {
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin: 0 20px;
}
.menu-option:hover {
    color: green;
    transform: scale(1.05);
}

.nav-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
    min-width: 916px;
}