h1{
    font-family: "Verdana";
    font-weight: bold;
    color:black;
}

p{
    padding-top: 10px;
    font-family: verdana;
    color:black;
}
div.gallery {
    display: inline-table;
    margin: 10px;
    float:none;
    width: 200px;
    
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
    background-color: #daa250;
  }
  