.home-page {
    background-color: #313639;
    min-height: calc(100vh - 200px);
    color: white;
    padding: 70px 45px 110px;
    text-align: center;
    box-sizing: content-box;
    /* font-family: Verdana, Geneva ,sans-serif;  */
    font-family: 'Monster Hunter', sans-serif;

}

a, h1, div, span, p {
    font-family: 'Monster Hunter', sans-serif;

}
/* div {
    font-family: Verdana, Geneva ,sans-serif;
}

h1 {
    font-family: Verdana, Geneva ,sans-serif;
} */
